@tailwind base;
@tailwind components;
@tailwind utilities;

/* .main-container > div {
    height: 100%;
    overflow: hidden;
}

#drawer {
    height: 100%;
} */

.viewport {
    position: relative;
}

.viewport canvas {
    top: 0;
    width: 100%;
    position: absolute;
}

/* 1222 */
.main-container {
    height: 100%;
}

#orderComplete {
    background: no-repeat center/200%  url(./images/confetti.gif);
}