@tailwind base;
@tailwind components;
@tailwind utilities;



.viewport {
    position: relative;
}

.viewport canvas {
    top: 0;
    width: 100%;
    position: absolute;
}

.drawer {
    border: 6px solid black;
    height: 95%;
}
/* 1222 */
.main-container {
    height: 100%;
}

.drawer-side {
    max-height: 100%;
}

#orderComplete {
    background: no-repeat center/200%  url(./images/confetti.gif);
}